// Global Vars

// COLORS
$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;

// GRID -> Used by layout/_grid.scss
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;